@model Hyrabil.Models.SkapaHyrbilar

<h1>Skapa Hyrbil</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label class="control-label">Namn</label>
                <input class="form-control" asp-for="Namn" />
                <span asp-validation-for="Namn" class=" text-danger"></span>
            </div
            <div class="form-group">
                <label asp-for="VaxelLadaType" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="VaxelLadaType" asp-items="Html.GetEnumSelectList<VaxelLadaEnum>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="VaxelLadaType" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SittPlatserType" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="SittPlatserType" asp-items="Html.GetEnumSelectList<SittPlatserEnum>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="SittPlatserType" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Sittplatser</label>
                <input class="form-control" asp-for="Sittplatser" />
                <span asp-validation-for="Sittplatser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Skapa" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Återgå</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}