@{ ViewData["Title"] = "Home Page"; }


<h2>Välkommen Till Medas SkapaHyrbilar!</h2>
<p>Rätt pris till varje mil! </p>



<div>
    <div class="column">
        <img src="~/js/Tesla.png" alt="Tesla" style="width:100%">
        <button type="button" class="btn btn-primary btn-rounded">Hyr</button>
    </div>

    <div class="column">
        <img src="~/js/Mclaren.png" alt="Mclaren" style="width:100%">
        <button type="button" class="btn btn-danger btn-rounded">Hyr</button>
    </div>

    <div class="column">
        <img src="~/js/Lamborghini.png" alt="Lamborghini" style="width:100%">
        <button type="button" class="btn btn-success btn-rounded">Hyr</button>
    </div>

</div>